.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;
}

.firefly::before,
.firefly::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
}

.firefly::before {
  background: rgb(0, 255, 55);
  opacity: 0.4;
  animation: drift ease alternate infinite;
}

.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw rgb(19, 83, 0);
  animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
  animation-name: move1;
}

.firefly:nth-child(1)::before {
  animation-duration: 9s;
}

.firefly:nth-child(1)::after {
  animation-duration: 9s, 5211ms;
  animation-delay: 0ms, 2133ms;
}

@keyframes move1 {
  0% {
    transform: translateX(15vw) translateY(-14vh) scale(0.3);
  }

  3.7037037037% {
    transform: translateX(-32vw) translateY(26vh) scale(0.59);
  }

  7.4074074074% {
    transform: translateX(31vw) translateY(-1vh) scale(0.85);
  }

  11.1111111111% {
    transform: translateX(-30vw) translateY(-45vh) scale(0.93);
  }

  14.8148148148% {
    transform: translateX(-32vw) translateY(-11vh) scale(0.59);
  }

  18.5185185185% {
    transform: translateX(-40vw) translateY(34vh) scale(0.95);
  }

  22.2222222222% {
    transform: translateX(9vw) translateY(47vh) scale(0.86);
  }

  25.9259259259% {
    transform: translateX(13vw) translateY(-35vh) scale(0.8);
  }

  29.6296296296% {
    transform: translateX(22vw) translateY(-12vh) scale(0.7);
  }

  33.3333333333% {
    transform: translateX(-18vw) translateY(-13vh) scale(0.92);
  }

  37.037037037% {
    transform: translateX(-17vw) translateY(35vh) scale(0.47);
  }

  40.7407407407% {
    transform: translateX(10vw) translateY(-28vh) scale(0.34);
  }

  44.4444444444% {
    transform: translateX(47vw) translateY(-22vh) scale(0.65);
  }

  48.1481481481% {
    transform: translateX(-47vw) translateY(26vh) scale(0.43);
  }

  51.8518518519% {
    transform: translateX(16vw) translateY(-42vh) scale(0.67);
  }

  55.5555555556% {
    transform: translateX(-16vw) translateY(-24vh) scale(0.55);
  }

  59.2592592593% {
    transform: translateX(30vw) translateY(45vh) scale(0.82);
  }

  62.962962963% {
    transform: translateX(-41vw) translateY(39vh) scale(0.56);
  }

  66.6666666667% {
    transform: translateX(-16vw) translateY(-8vh) scale(0.94);
  }

  70.3703703704% {
    transform: translateX(8vw) translateY(-38vh) scale(0.8);
  }

  74.0740740741% {
    transform: translateX(18vw) translateY(21vh) scale(0.75);
  }

  77.7777777778% {
    transform: translateX(-41vw) translateY(31vh) scale(0.6);
  }

  81.4814814815% {
    transform: translateX(30vw) translateY(23vh) scale(0.52);
  }

  85.1851851852% {
    transform: translateX(4vw) translateY(47vh) scale(0.35);
  }

  88.8888888889% {
    transform: translateX(-6vw) translateY(-10vh) scale(0.33);
  }

  92.5925925926% {
    transform: translateX(50vw) translateY(-26vh) scale(0.57);
  }

  96.2962962963% {
    transform: translateX(-17vw) translateY(11vh) scale(1);
  }

  100% {
    transform: translateX(16vw) translateY(-33vh) scale(0.69);
  }
}

.firefly:nth-child(2) {
  animation-name: move2;
}

.firefly:nth-child(2)::before {
  animation-duration: 11s;
}

.firefly:nth-child(2)::after {
  animation-duration: 11s, 9810ms;
  animation-delay: 0ms, 7624ms;
}

@keyframes move2 {
  0% {
    transform: translateX(19vw) translateY(19vh) scale(0.45);
  }

  5.2631578947% {
    transform: translateX(-2vw) translateY(-24vh) scale(0.5);
  }

  10.5263157895% {
    transform: translateX(-16vw) translateY(4vh) scale(0.51);
  }

  15.7894736842% {
    transform: translateX(41vw) translateY(-41vh) scale(0.42);
  }

  21.0526315789% {
    transform: translateX(-7vw) translateY(2vh) scale(0.61);
  }

  26.3157894737% {
    transform: translateX(41vw) translateY(-46vh) scale(0.73);
  }

  31.5789473684% {
    transform: translateX(-12vw) translateY(8vh) scale(0.48);
  }

  36.8421052632% {
    transform: translateX(-39vw) translateY(-12vh) scale(0.84);
  }

  42.1052631579% {
    transform: translateX(-29vw) translateY(-16vh) scale(0.56);
  }

  47.3684210526% {
    transform: translateX(27vw) translateY(-1vh) scale(0.76);
  }

  52.6315789474% {
    transform: translateX(34vw) translateY(43vh) scale(0.81);
  }

  57.8947368421% {
    transform: translateX(-22vw) translateY(-46vh) scale(0.48);
  }

  63.1578947368% {
    transform: translateX(23vw) translateY(-26vh) scale(0.96);
  }

  68.4210526316% {
    transform: translateX(0vw) translateY(-17vh) scale(0.78);
  }

  73.6842105263% {
    transform: translateX(-3vw) translateY(-39vh) scale(0.3);
  }

  78.9473684211% {
    transform: translateX(9vw) translateY(12vh) scale(0.94);
  }

  84.2105263158% {
    transform: translateX(26vw) translateY(-13vh) scale(0.82);
  }

  89.4736842105% {
    transform: translateX(49vw) translateY(-18vh) scale(0.53);
  }

  94.7368421053% {
    transform: translateX(-49vw) translateY(24vh) scale(0.32);
  }

  100% {
    transform: translateX(0vw) translateY(-46vh) scale(0.94);
  }
}

.firefly:nth-child(3) {
  animation-name: move3;
}

.firefly:nth-child(3)::before {
  animation-duration: 9s;
}

.firefly:nth-child(3)::after {
  animation-duration: 9s, 7445ms;
  animation-delay: 0ms, 1121ms;
}

@keyframes move3 {
  0% {
    transform: translateX(-27vw) translateY(-24vh) scale(0.41);
  }

  5.8823529412% {
    transform: translateX(-27vw) translateY(10vh) scale(0.97);
  }

  11.7647058824% {
    transform: translateX(29vw) translateY(-5vh) scale(0.61);
  }

  17.6470588235% {
    transform: translateX(11vw) translateY(26vh) scale(0.44);
  }

  23.5294117647% {
    transform: translateX(-38vw) translateY(21vh) scale(0.96);
  }

  29.4117647059% {
    transform: translateX(-29vw) translateY(-25vh) scale(0.43);
  }

  35.2941176471% {
    transform: translateX(40vw) translateY(10vh) scale(0.5);
  }

  41.1764705882% {
    transform: translateX(12vw) translateY(-9vh) scale(0.83);
  }

  47.0588235294% {
    transform: translateX(-12vw) translateY(16vh) scale(0.5);
  }

  52.9411764706% {
    transform: translateX(-31vw) translateY(16vh) scale(0.89);
  }

  58.8235294118% {
    transform: translateX(43vw) translateY(-18vh) scale(0.67);
  }

  64.7058823529% {
    transform: translateX(-5vw) translateY(-22vh) scale(0.92);
  }

  70.5882352941% {
    transform: translateX(46vw) translateY(-30vh) scale(0.92);
  }

  76.4705882353% {
    transform: translateX(-16vw) translateY(36vh) scale(0.43);
  }

  82.3529411765% {
    transform: translateX(1vw) translateY(9vh) scale(0.93);
  }

  88.2352941176% {
    transform: translateX(-35vw) translateY(48vh) scale(0.52);
  }

  94.1176470588% {
    transform: translateX(-14vw) translateY(-46vh) scale(0.83);
  }

  100% {
    transform: translateX(-3vw) translateY(-17vh) scale(0.36);
  }
}

.firefly:nth-child(4) {
  animation-name: move4;
}

.firefly:nth-child(4)::before {
  animation-duration: 10s;
}

.firefly:nth-child(4)::after {
  animation-duration: 10s, 7173ms;
  animation-delay: 0ms, 3376ms;
}

@keyframes move4 {
  0% {
    transform: translateX(9vw) translateY(13vh) scale(0.41);
  }

  3.5714285714% {
    transform: translateX(-3vw) translateY(8vh) scale(0.49);
  }

  7.1428571429% {
    transform: translateX(45vw) translateY(-6vh) scale(0.82);
  }

  10.7142857143% {
    transform: translateX(-27vw) translateY(22vh) scale(0.54);
  }

  14.2857142857% {
    transform: translateX(-44vw) translateY(-36vh) scale(0.45);
  }

  17.8571428571% {
    transform: translateX(-34vw) translateY(23vh) scale(0.87);
  }

  21.4285714286% {
    transform: translateX(35vw) translateY(17vh) scale(0.31);
  }

  25% {
    transform: translateX(-3vw) translateY(14vh) scale(0.64);
  }

  28.5714285714% {
    transform: translateX(34vw) translateY(44vh) scale(0.46);
  }

  32.1428571429% {
    transform: translateX(36vw) translateY(37vh) scale(0.27);
  }

  35.7142857143% {
    transform: translateX(-11vw) translateY(-33vh) scale(0.33);
  }

  39.2857142857% {
    transform: translateX(-35vw) translateY(26vh) scale(0.58);
  }

  42.8571428571% {
    transform: translateX(-2vw) translateY(44vh) scale(0.4);
  }

  46.4285714286% {
    transform: translateX(32vw) translateY(-5vh) scale(0.79);
  }

  50% {
    transform: translateX(34vw) translateY(-29vh) scale(0.86);
  }

  53.5714285714% {
    transform: translateX(3vw) translateY(3vh) scale(0.84);
  }

  57.1428571429% {
    transform: translateX(-48vw) translateY(40vh) scale(0.54);
  }

  60.7142857143% {
    transform: translateX(8vw) translateY(-10vh) scale(0.32);
  }

  64.2857142857% {
    transform: translateX(-14vw) translateY(-3vh) scale(0.55);
  }

  67.8571428571% {
    transform: translateX(8vw) translateY(50vh) scale(0.31);
  }

  71.4285714286% {
    transform: translateX(34vw) translateY(-35vh) scale(0.73);
  }

  75% {
    transform: translateX(16vw) translateY(-48vh) scale(0.59);
  }

  78.5714285714% {
    transform: translateX(19vw) translateY(44vh) scale(0.34);
  }

  82.1428571429% {
    transform: translateX(-44vw) translateY(-40vh) scale(0.64);
  }

  85.7142857143% {
    transform: translateX(-32vw) translateY(-23vh) scale(0.98);
  }

  89.2857142857% {
    transform: translateX(40vw) translateY(-37vh) scale(0.48);
  }

  92.8571428571% {
    transform: translateX(-24vw) translateY(3vh) scale(0.4);
  }

  96.4285714286% {
    transform: translateX(-28vw) translateY(-21vh) scale(0.68);
  }

  100% {
    transform: translateX(31vw) translateY(-21vh) scale(0.39);
  }
}

.firefly:nth-child(5) {
  animation-name: move5;
}

.firefly:nth-child(5)::before {
  animation-duration: 10s;
}

.firefly:nth-child(5)::after {
  animation-duration: 10s, 10837ms;
  animation-delay: 0ms, 2757ms;
}

@keyframes move5 {
  0% {
    transform: translateX(-41vw) translateY(-20vh) scale(0.58);
  }

  5.5555555556% {
    transform: translateX(16vw) translateY(4vh) scale(1);
  }

  11.1111111111% {
    transform: translateX(46vw) translateY(36vh) scale(0.98);
  }

  16.6666666667% {
    transform: translateX(-8vw) translateY(16vh) scale(0.74);
  }

  22.2222222222% {
    transform: translateX(-26vw) translateY(-44vh) scale(0.48);
  }

  27.7777777778% {
    transform: translateX(-13vw) translateY(-47vh) scale(0.41);
  }

  33.3333333333% {
    transform: translateX(20vw) translateY(37vh) scale(0.71);
  }

  38.8888888889% {
    transform: translateX(-39vw) translateY(46vh) scale(0.97);
  }

  44.4444444444% {
    transform: translateX(-5vw) translateY(-40vh) scale(0.63);
  }

  50% {
    transform: translateX(49vw) translateY(6vh) scale(0.27);
  }

  55.5555555556% {
    transform: translateX(23vw) translateY(-20vh) scale(0.96);
  }

  61.1111111111% {
    transform: translateX(17vw) translateY(39vh) scale(0.88);
  }

  66.6666666667% {
    transform: translateX(-2vw) translateY(14vh) scale(0.89);
  }

  72.2222222222% {
    transform: translateX(8vw) translateY(-30vh) scale(0.63);
  }

  77.7777777778% {
    transform: translateX(50vw) translateY(45vh) scale(0.72);
  }

  83.3333333333% {
    transform: translateX(-12vw) translateY(-47vh) scale(0.61);
  }

  88.8888888889% {
    transform: translateX(-43vw) translateY(30vh) scale(0.74);
  }

  94.4444444444% {
    transform: translateX(15vw) translateY(-13vh) scale(0.98);
  }

  100% {
    transform: translateX(4vw) translateY(-44vh) scale(0.64);
  }
}

.firefly:nth-child(6) {
  animation-name: move6;
}

.firefly:nth-child(6)::before {
  animation-duration: 10s;
}

.firefly:nth-child(6)::after {
  animation-duration: 10s, 6583ms;
  animation-delay: 0ms, 3685ms;
}

@keyframes move6 {
  0% {
    transform: translateX(23vw) translateY(-39vh) scale(1);
  }

  4.7619047619% {
    transform: translateX(27vw) translateY(1vh) scale(0.48);
  }

  9.5238095238% {
    transform: translateX(5vw) translateY(39vh) scale(0.73);
  }

  14.2857142857% {
    transform: translateX(20vw) translateY(47vh) scale(0.51);
  }

  19.0476190476% {
    transform: translateX(28vw) translateY(32vh) scale(0.93);
  }

  23.8095238095% {
    transform: translateX(15vw) translateY(-45vh) scale(0.99);
  }

  28.5714285714% {
    transform: translateX(39vw) translateY(17vh) scale(0.96);
  }

  33.3333333333% {
    transform: translateX(-30vw) translateY(25vh) scale(0.59);
  }

  38.0952380952% {
    transform: translateX(-18vw) translateY(-46vh) scale(0.5);
  }

  42.8571428571% {
    transform: translateX(35vw) translateY(6vh) scale(0.26);
  }

  47.619047619% {
    transform: translateX(45vw) translateY(-10vh) scale(0.38);
  }

  52.380952381% {
    transform: translateX(-38vw) translateY(28vh) scale(0.31);
  }

  57.1428571429% {
    transform: translateX(29vw) translateY(-17vh) scale(0.27);
  }

  61.9047619048% {
    transform: translateX(9vw) translateY(49vh) scale(0.64);
  }

  66.6666666667% {
    transform: translateX(-10vw) translateY(35vh) scale(0.28);
  }

  71.4285714286% {
    transform: translateX(29vw) translateY(37vh) scale(0.92);
  }

  76.1904761905% {
    transform: translateX(-5vw) translateY(48vh) scale(0.53);
  }

  80.9523809524% {
    transform: translateX(25vw) translateY(-15vh) scale(0.31);
  }

  85.7142857143% {
    transform: translateX(30vw) translateY(-14vh) scale(0.95);
  }

  90.4761904762% {
    transform: translateX(25vw) translateY(-46vh) scale(0.48);
  }

  95.2380952381% {
    transform: translateX(-43vw) translateY(42vh) scale(0.42);
  }

  100% {
    transform: translateX(17vw) translateY(28vh) scale(0.74);
  }
}

.firefly:nth-child(7) {
  animation-name: move7;
}

.firefly:nth-child(7)::before {
  animation-duration: 11s;
}

.firefly:nth-child(7)::after {
  animation-duration: 11s, 8441ms;
  animation-delay: 0ms, 5651ms;
}

@keyframes move7 {
  0% {
    transform: translateX(20vw) translateY(-1vh) scale(0.75);
  }

  4.1666666667% {
    transform: translateX(-32vw) translateY(33vh) scale(0.81);
  }

  8.3333333333% {
    transform: translateX(-49vw) translateY(2vh) scale(0.32);
  }

  12.5% {
    transform: translateX(-31vw) translateY(26vh) scale(0.72);
  }

  16.6666666667% {
    transform: translateX(-19vw) translateY(-47vh) scale(0.35);
  }

  20.8333333333% {
    transform: translateX(13vw) translateY(48vh) scale(0.42);
  }

  25% {
    transform: translateX(-38vw) translateY(32vh) scale(0.28);
  }

  29.1666666667% {
    transform: translateX(-29vw) translateY(-22vh) scale(0.74);
  }

  33.3333333333% {
    transform: translateX(-6vw) translateY(1vh) scale(0.97);
  }

  37.5% {
    transform: translateX(-17vw) translateY(-24vh) scale(0.92);
  }

  41.6666666667% {
    transform: translateX(-6vw) translateY(3vh) scale(0.9);
  }

  45.8333333333% {
    transform: translateX(28vw) translateY(50vh) scale(0.4);
  }

  50% {
    transform: translateX(37vw) translateY(-34vh) scale(0.97);
  }

  54.1666666667% {
    transform: translateX(2vw) translateY(45vh) scale(0.87);
  }

  58.3333333333% {
    transform: translateX(23vw) translateY(25vh) scale(0.47);
  }

  62.5% {
    transform: translateX(9vw) translateY(36vh) scale(0.95);
  }

  66.6666666667% {
    transform: translateX(5vw) translateY(-47vh) scale(0.94);
  }

  70.8333333333% {
    transform: translateX(15vw) translateY(-37vh) scale(0.73);
  }

  75% {
    transform: translateX(12vw) translateY(-14vh) scale(0.93);
  }

  79.1666666667% {
    transform: translateX(47vw) translateY(-15vh) scale(0.32);
  }

  83.3333333333% {
    transform: translateX(-15vw) translateY(24vh) scale(0.37);
  }

  87.5% {
    transform: translateX(-14vw) translateY(-9vh) scale(0.45);
  }

  91.6666666667% {
    transform: translateX(-47vw) translateY(29vh) scale(0.33);
  }

  95.8333333333% {
    transform: translateX(-16vw) translateY(31vh) scale(0.5);
  }

  100% {
    transform: translateX(-1vw) translateY(-23vh) scale(0.88);
  }
}

.firefly:nth-child(8) {
  animation-name: move8;
}

.firefly:nth-child(8)::before {
  animation-duration: 15s;
}

.firefly:nth-child(8)::after {
  animation-duration: 15s, 5702ms;
  animation-delay: 0ms, 4399ms;
}

@keyframes move8 {
  0% {
    transform: translateX(-30vw) translateY(-6vh) scale(0.56);
  }

  4.347826087% {
    transform: translateX(-3vw) translateY(-39vh) scale(0.94);
  }

  8.6956521739% {
    transform: translateX(-45vw) translateY(-37vh) scale(0.74);
  }

  13.0434782609% {
    transform: translateX(25vw) translateY(44vh) scale(0.56);
  }

  17.3913043478% {
    transform: translateX(30vw) translateY(-8vh) scale(0.31);
  }

  21.7391304348% {
    transform: translateX(-32vw) translateY(-48vh) scale(0.88);
  }

  26.0869565217% {
    transform: translateX(15vw) translateY(34vh) scale(1);
  }

  30.4347826087% {
    transform: translateX(0vw) translateY(-22vh) scale(0.51);
  }

  34.7826086957% {
    transform: translateX(-3vw) translateY(26vh) scale(0.73);
  }

  39.1304347826% {
    transform: translateX(-12vw) translateY(35vh) scale(0.64);
  }

  43.4782608696% {
    transform: translateX(-6vw) translateY(-13vh) scale(0.79);
  }

  47.8260869565% {
    transform: translateX(-49vw) translateY(-23vh) scale(0.66);
  }

  52.1739130435% {
    transform: translateX(-27vw) translateY(18vh) scale(0.9);
  }

  56.5217391304% {
    transform: translateX(50vw) translateY(44vh) scale(0.52);
  }

  60.8695652174% {
    transform: translateX(48vw) translateY(-33vh) scale(0.78);
  }

  65.2173913043% {
    transform: translateX(47vw) translateY(20vh) scale(0.9);
  }

  69.5652173913% {
    transform: translateX(-30vw) translateY(22vh) scale(0.77);
  }

  73.9130434783% {
    transform: translateX(-15vw) translateY(-16vh) scale(0.32);
  }

  78.2608695652% {
    transform: translateX(-28vw) translateY(22vh) scale(0.53);
  }

  82.6086956522% {
    transform: translateX(8vw) translateY(-37vh) scale(0.44);
  }

  86.9565217391% {
    transform: translateX(-39vw) translateY(48vh) scale(0.47);
  }

  91.3043478261% {
    transform: translateX(-45vw) translateY(-31vh) scale(0.6);
  }

  95.652173913% {
    transform: translateX(9vw) translateY(-34vh) scale(0.97);
  }

  100% {
    transform: translateX(-34vw) translateY(45vh) scale(0.86);
  }
}

.firefly:nth-child(9) {
  animation-name: move9;
}

.firefly:nth-child(9)::before {
  animation-duration: 12s;
}

.firefly:nth-child(9)::after {
  animation-duration: 12s, 5145ms;
  animation-delay: 0ms, 3089ms;
}

@keyframes move9 {
  0% {
    transform: translateX(5vw) translateY(-30vh) scale(0.38);
  }

  5% {
    transform: translateX(-26vw) translateY(47vh) scale(0.7);
  }

  10% {
    transform: translateX(-43vw) translateY(-4vh) scale(0.74);
  }

  15% {
    transform: translateX(-33vw) translateY(12vh) scale(0.49);
  }

  20% {
    transform: translateX(-8vw) translateY(-13vh) scale(0.95);
  }

  25% {
    transform: translateX(-45vw) translateY(22vh) scale(0.38);
  }

  30% {
    transform: translateX(34vw) translateY(27vh) scale(0.3);
  }

  35% {
    transform: translateX(6vw) translateY(-5vh) scale(0.28);
  }

  40% {
    transform: translateX(-41vw) translateY(1vh) scale(0.83);
  }

  45% {
    transform: translateX(17vw) translateY(-3vh) scale(0.84);
  }

  50% {
    transform: translateX(23vw) translateY(-16vh) scale(0.84);
  }

  55% {
    transform: translateX(-20vw) translateY(-25vh) scale(0.29);
  }

  60% {
    transform: translateX(-1vw) translateY(-1vh) scale(0.65);
  }

  65% {
    transform: translateX(-5vw) translateY(-32vh) scale(0.5);
  }

  70% {
    transform: translateX(15vw) translateY(-32vh) scale(0.61);
  }

  75% {
    transform: translateX(-8vw) translateY(-5vh) scale(0.43);
  }

  80% {
    transform: translateX(23vw) translateY(-30vh) scale(0.75);
  }

  85% {
    transform: translateX(50vw) translateY(-10vh) scale(0.59);
  }

  90% {
    transform: translateX(19vw) translateY(-21vh) scale(0.52);
  }

  95% {
    transform: translateX(-35vw) translateY(-49vh) scale(0.26);
  }

  100% {
    transform: translateX(3vw) translateY(39vh) scale(0.49);
  }
}

.firefly:nth-child(10) {
  animation-name: move10;
}

.firefly:nth-child(10)::before {
  animation-duration: 13s;
}

.firefly:nth-child(10)::after {
  animation-duration: 13s, 5472ms;
  animation-delay: 0ms, 5525ms;
}

@keyframes move10 {
  0% {
    transform: translateX(-3vw) translateY(31vh) scale(0.31);
  }

  3.5714285714% {
    transform: translateX(-5vw) translateY(5vh) scale(0.44);
  }

  7.1428571429% {
    transform: translateX(9vw) translateY(32vh) scale(0.31);
  }

  10.7142857143% {
    transform: translateX(50vw) translateY(39vh) scale(0.49);
  }

  14.2857142857% {
    transform: translateX(27vw) translateY(3vh) scale(0.86);
  }

  17.8571428571% {
    transform: translateX(-23vw) translateY(-3vh) scale(0.87);
  }

  21.4285714286% {
    transform: translateX(18vw) translateY(-41vh) scale(0.44);
  }

  25% {
    transform: translateX(-1vw) translateY(22vh) scale(0.62);
  }

  28.5714285714% {
    transform: translateX(14vw) translateY(-48vh) scale(0.8);
  }

  32.1428571429% {
    transform: translateX(36vw) translateY(46vh) scale(0.43);
  }

  35.7142857143% {
    transform: translateX(46vw) translateY(42vh) scale(0.67);
  }

  39.2857142857% {
    transform: translateX(-48vw) translateY(-31vh) scale(0.52);
  }

  42.8571428571% {
    transform: translateX(7vw) translateY(-4vh) scale(0.47);
  }

  46.4285714286% {
    transform: translateX(-6vw) translateY(37vh) scale(0.39);
  }

  50% {
    transform: translateX(49vw) translateY(-14vh) scale(0.53);
  }

  53.5714285714% {
    transform: translateX(23vw) translateY(21vh) scale(0.68);
  }

  57.1428571429% {
    transform: translateX(50vw) translateY(10vh) scale(0.46);
  }

  60.7142857143% {
    transform: translateX(-32vw) translateY(48vh) scale(0.82);
  }

  64.2857142857% {
    transform: translateX(42vw) translateY(18vh) scale(0.91);
  }

  67.8571428571% {
    transform: translateX(17vw) translateY(4vh) scale(0.47);
  }

  71.4285714286% {
    transform: translateX(-37vw) translateY(-32vh) scale(0.47);
  }

  75% {
    transform: translateX(-19vw) translateY(-39vh) scale(0.46);
  }

  78.5714285714% {
    transform: translateX(-7vw) translateY(-27vh) scale(0.29);
  }

  82.1428571429% {
    transform: translateX(22vw) translateY(-17vh) scale(0.94);
  }

  85.7142857143% {
    transform: translateX(-28vw) translateY(10vh) scale(0.45);
  }

  89.2857142857% {
    transform: translateX(45vw) translateY(43vh) scale(0.99);
  }

  92.8571428571% {
    transform: translateX(-2vw) translateY(-35vh) scale(0.96);
  }

  96.4285714286% {
    transform: translateX(4vw) translateY(44vh) scale(0.77);
  }

  100% {
    transform: translateX(-14vw) translateY(-31vh) scale(0.35);
  }
}

.firefly:nth-child(11) {
  animation-name: move11;
}

.firefly:nth-child(11)::before {
  animation-duration: 11s;
}

.firefly:nth-child(11)::after {
  animation-duration: 11s, 9212ms;
  animation-delay: 0ms, 3322ms;
}

@keyframes move11 {
  0% {
    transform: translateX(-49vw) translateY(46vh) scale(0.3);
  }

  3.5714285714% {
    transform: translateX(-11vw) translateY(38vh) scale(0.61);
  }

  7.1428571429% {
    transform: translateX(2vw) translateY(-13vh) scale(0.89);
  }

  10.7142857143% {
    transform: translateX(-21vw) translateY(50vh) scale(0.51);
  }

  14.2857142857% {
    transform: translateX(-44vw) translateY(-17vh) scale(0.73);
  }

  17.8571428571% {
    transform: translateX(32vw) translateY(9vh) scale(0.89);
  }

  21.4285714286% {
    transform: translateX(22vw) translateY(-7vh) scale(0.96);
  }

  25% {
    transform: translateX(31vw) translateY(50vh) scale(0.27);
  }

  28.5714285714% {
    transform: translateX(44vw) translateY(4vh) scale(0.73);
  }

  32.1428571429% {
    transform: translateX(36vw) translateY(42vh) scale(0.39);
  }

  35.7142857143% {
    transform: translateX(-14vw) translateY(35vh) scale(0.62);
  }

  39.2857142857% {
    transform: translateX(9vw) translateY(50vh) scale(0.79);
  }

  42.8571428571% {
    transform: translateX(-16vw) translateY(25vh) scale(0.83);
  }

  46.4285714286% {
    transform: translateX(27vw) translateY(-9vh) scale(0.8);
  }

  50% {
    transform: translateX(-26vw) translateY(26vh) scale(0.34);
  }

  53.5714285714% {
    transform: translateX(42vw) translateY(-4vh) scale(0.62);
  }

  57.1428571429% {
    transform: translateX(-7vw) translateY(-28vh) scale(0.73);
  }

  60.7142857143% {
    transform: translateX(-8vw) translateY(-30vh) scale(0.55);
  }

  64.2857142857% {
    transform: translateX(-13vw) translateY(36vh) scale(0.82);
  }

  67.8571428571% {
    transform: translateX(1vw) translateY(1vh) scale(0.52);
  }

  71.4285714286% {
    transform: translateX(-29vw) translateY(-5vh) scale(0.36);
  }

  75% {
    transform: translateX(16vw) translateY(17vh) scale(0.66);
  }

  78.5714285714% {
    transform: translateX(47vw) translateY(23vh) scale(0.42);
  }

  82.1428571429% {
    transform: translateX(6vw) translateY(-48vh) scale(0.79);
  }

  85.7142857143% {
    transform: translateX(33vw) translateY(20vh) scale(0.27);
  }

  89.2857142857% {
    transform: translateX(33vw) translateY(24vh) scale(0.91);
  }

  92.8571428571% {
    transform: translateX(-43vw) translateY(11vh) scale(0.92);
  }

  96.4285714286% {
    transform: translateX(-25vw) translateY(-16vh) scale(0.76);
  }

  100% {
    transform: translateX(-9vw) translateY(-49vh) scale(0.6);
  }
}

.firefly:nth-child(12) {
  animation-name: move12;
}

.firefly:nth-child(12)::before {
  animation-duration: 14s;
}

.firefly:nth-child(12)::after {
  animation-duration: 14s, 5581ms;
  animation-delay: 0ms, 4856ms;
}

@keyframes move12 {
  0% {
    transform: translateX(-32vw) translateY(-23vh) scale(0.93);
  }

  5.5555555556% {
    transform: translateX(15vw) translateY(-36vh) scale(0.9);
  }

  11.1111111111% {
    transform: translateX(12vw) translateY(23vh) scale(0.48);
  }

  16.6666666667% {
    transform: translateX(36vw) translateY(12vh) scale(0.82);
  }

  22.2222222222% {
    transform: translateX(12vw) translateY(-1vh) scale(0.93);
  }

  27.7777777778% {
    transform: translateX(-14vw) translateY(46vh) scale(0.95);
  }

  33.3333333333% {
    transform: translateX(9vw) translateY(-1vh) scale(0.58);
  }

  38.8888888889% {
    transform: translateX(-12vw) translateY(-23vh) scale(0.82);
  }

  44.4444444444% {
    transform: translateX(-19vw) translateY(-40vh) scale(0.85);
  }

  50% {
    transform: translateX(28vw) translateY(-21vh) scale(0.59);
  }

  55.5555555556% {
    transform: translateX(-4vw) translateY(6vh) scale(0.49);
  }

  61.1111111111% {
    transform: translateX(28vw) translateY(3vh) scale(0.78);
  }

  66.6666666667% {
    transform: translateX(15vw) translateY(-13vh) scale(0.3);
  }

  72.2222222222% {
    transform: translateX(21vw) translateY(-28vh) scale(0.57);
  }

  77.7777777778% {
    transform: translateX(1vw) translateY(6vh) scale(0.42);
  }

  83.3333333333% {
    transform: translateX(16vw) translateY(2vh) scale(0.5);
  }

  88.8888888889% {
    transform: translateX(12vw) translateY(-39vh) scale(0.83);
  }

  94.4444444444% {
    transform: translateX(42vw) translateY(-9vh) scale(0.53);
  }

  100% {
    transform: translateX(17vw) translateY(13vh) scale(0.44);
  }
}

.firefly:nth-child(13) {
  animation-name: move13;
}

.firefly:nth-child(13)::before {
  animation-duration: 18s;
}

.firefly:nth-child(13)::after {
  animation-duration: 18s, 7359ms;
  animation-delay: 0ms, 1894ms;
}

@keyframes move13 {
  0% {
    transform: translateX(23vw) translateY(14vh) scale(0.75);
  }

  5% {
    transform: translateX(-24vw) translateY(-29vh) scale(0.67);
  }

  10% {
    transform: translateX(41vw) translateY(17vh) scale(0.81);
  }

  15% {
    transform: translateX(33vw) translateY(-29vh) scale(0.62);
  }

  20% {
    transform: translateX(14vw) translateY(18vh) scale(0.96);
  }

  25% {
    transform: translateX(-44vw) translateY(4vh) scale(0.39);
  }

  30% {
    transform: translateX(23vw) translateY(28vh) scale(0.67);
  }

  35% {
    transform: translateX(-36vw) translateY(41vh) scale(0.83);
  }

  40% {
    transform: translateX(-46vw) translateY(-33vh) scale(0.46);
  }

  45% {
    transform: translateX(20vw) translateY(-16vh) scale(0.85);
  }

  50% {
    transform: translateX(20vw) translateY(3vh) scale(0.37);
  }

  55% {
    transform: translateX(37vw) translateY(-27vh) scale(0.31);
  }

  60% {
    transform: translateX(33vw) translateY(2vh) scale(0.92);
  }

  65% {
    transform: translateX(14vw) translateY(-19vh) scale(0.36);
  }

  70% {
    transform: translateX(-29vw) translateY(-41vh) scale(0.43);
  }

  75% {
    transform: translateX(47vw) translateY(9vh) scale(0.84);
  }

  80% {
    transform: translateX(-9vw) translateY(-16vh) scale(0.46);
  }

  85% {
    transform: translateX(15vw) translateY(45vh) scale(0.56);
  }

  90% {
    transform: translateX(-42vw) translateY(7vh) scale(0.73);
  }

  95% {
    transform: translateX(32vw) translateY(43vh) scale(0.48);
  }

  100% {
    transform: translateX(1vw) translateY(31vh) scale(0.61);
  }
}

.firefly:nth-child(14) {
  animation-name: move14;
}

.firefly:nth-child(14)::before {
  animation-duration: 12s;
}

.firefly:nth-child(14)::after {
  animation-duration: 12s, 10459ms;
  animation-delay: 0ms, 1299ms;
}

@keyframes move14 {
  0% {
    transform: translateX(-46vw) translateY(-8vh) scale(0.48);
  }

  3.5714285714% {
    transform: translateX(27vw) translateY(-43vh) scale(0.87);
  }

  7.1428571429% {
    transform: translateX(15vw) translateY(1vh) scale(0.48);
  }

  10.7142857143% {
    transform: translateX(13vw) translateY(22vh) scale(0.8);
  }

  14.2857142857% {
    transform: translateX(-38vw) translateY(42vh) scale(0.4);
  }

  17.8571428571% {
    transform: translateX(18vw) translateY(23vh) scale(0.9);
  }

  21.4285714286% {
    transform: translateX(-43vw) translateY(9vh) scale(0.97);
  }

  25% {
    transform: translateX(-32vw) translateY(-11vh) scale(0.34);
  }

  28.5714285714% {
    transform: translateX(-34vw) translateY(14vh) scale(0.99);
  }

  32.1428571429% {
    transform: translateX(-13vw) translateY(-23vh) scale(0.63);
  }

  35.7142857143% {
    transform: translateX(25vw) translateY(37vh) scale(1);
  }

  39.2857142857% {
    transform: translateX(40vw) translateY(-2vh) scale(0.84);
  }

  42.8571428571% {
    transform: translateX(33vw) translateY(-21vh) scale(0.65);
  }

  46.4285714286% {
    transform: translateX(-14vw) translateY(39vh) scale(0.96);
  }

  50% {
    transform: translateX(41vw) translateY(37vh) scale(0.6);
  }

  53.5714285714% {
    transform: translateX(-18vw) translateY(1vh) scale(0.42);
  }

  57.1428571429% {
    transform: translateX(-40vw) translateY(-31vh) scale(0.56);
  }

  60.7142857143% {
    transform: translateX(43vw) translateY(-3vh) scale(0.55);
  }

  64.2857142857% {
    transform: translateX(-30vw) translateY(-32vh) scale(0.69);
  }

  67.8571428571% {
    transform: translateX(34vw) translateY(-41vh) scale(0.91);
  }

  71.4285714286% {
    transform: translateX(44vw) translateY(-45vh) scale(0.75);
  }

  75% {
    transform: translateX(-28vw) translateY(-23vh) scale(0.86);
  }

  78.5714285714% {
    transform: translateX(-26vw) translateY(50vh) scale(0.93);
  }

  82.1428571429% {
    transform: translateX(11vw) translateY(37vh) scale(0.55);
  }

  85.7142857143% {
    transform: translateX(37vw) translateY(15vh) scale(0.49);
  }

  89.2857142857% {
    transform: translateX(-47vw) translateY(24vh) scale(0.45);
  }

  92.8571428571% {
    transform: translateX(48vw) translateY(27vh) scale(0.56);
  }

  96.4285714286% {
    transform: translateX(17vw) translateY(9vh) scale(0.98);
  }

  100% {
    transform: translateX(21vw) translateY(36vh) scale(0.99);
  }
}

.firefly:nth-child(15) {
  animation-name: move15;
}

.firefly:nth-child(15)::before {
  animation-duration: 11s;
}

.firefly:nth-child(15)::after {
  animation-duration: 11s, 6833ms;
  animation-delay: 0ms, 3891ms;
}

@keyframes move15 {
  0% {
    transform: translateX(-14vw) translateY(-4vh) scale(0.95);
  }

  3.5714285714% {
    transform: translateX(40vw) translateY(5vh) scale(0.34);
  }

  7.1428571429% {
    transform: translateX(-24vw) translateY(13vh) scale(0.75);
  }

  10.7142857143% {
    transform: translateX(47vw) translateY(-29vh) scale(0.99);
  }

  14.2857142857% {
    transform: translateX(25vw) translateY(-1vh) scale(0.97);
  }

  17.8571428571% {
    transform: translateX(-35vw) translateY(-22vh) scale(0.74);
  }

  21.4285714286% {
    transform: translateX(-18vw) translateY(-46vh) scale(0.55);
  }

  25% {
    transform: translateX(31vw) translateY(-34vh) scale(0.97);
  }

  28.5714285714% {
    transform: translateX(-36vw) translateY(-47vh) scale(0.48);
  }

  32.1428571429% {
    transform: translateX(42vw) translateY(-14vh) scale(0.64);
  }

  35.7142857143% {
    transform: translateX(5vw) translateY(-37vh) scale(0.76);
  }

  39.2857142857% {
    transform: translateX(19vw) translateY(8vh) scale(0.81);
  }

  42.8571428571% {
    transform: translateX(14vw) translateY(-15vh) scale(0.87);
  }

  46.4285714286% {
    transform: translateX(-10vw) translateY(-40vh) scale(0.9);
  }

  50% {
    transform: translateX(-19vw) translateY(0vh) scale(0.42);
  }

  53.5714285714% {
    transform: translateX(11vw) translateY(-18vh) scale(0.27);
  }

  57.1428571429% {
    transform: translateX(47vw) translateY(18vh) scale(0.48);
  }

  60.7142857143% {
    transform: translateX(-15vw) translateY(16vh) scale(0.95);
  }

  64.2857142857% {
    transform: translateX(5vw) translateY(17vh) scale(0.32);
  }

  67.8571428571% {
    transform: translateX(3vw) translateY(-38vh) scale(0.57);
  }

  71.4285714286% {
    transform: translateX(30vw) translateY(16vh) scale(0.77);
  }

  75% {
    transform: translateX(-32vw) translateY(-36vh) scale(0.29);
  }

  78.5714285714% {
    transform: translateX(17vw) translateY(-36vh) scale(0.69);
  }

  82.1428571429% {
    transform: translateX(-37vw) translateY(18vh) scale(0.77);
  }

  85.7142857143% {
    transform: translateX(43vw) translateY(44vh) scale(0.55);
  }

  89.2857142857% {
    transform: translateX(48vw) translateY(-27vh) scale(0.99);
  }

  92.8571428571% {
    transform: translateX(-14vw) translateY(23vh) scale(0.84);
  }

  96.4285714286% {
    transform: translateX(-4vw) translateY(-25vh) scale(0.6);
  }

  100% {
    transform: translateX(-28vw) translateY(38vh) scale(0.82);
  }
}

@keyframes drift {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {

  0%,
  30%,
  100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw rgb(19, 83, 0);
  }

  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw rgb(19, 83, 0);
  }
}